.pHeader{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.95em;
    color: brown;
    margin-top: 10px;
}
.imglang{
    height: 15px;
}
.homeContent{
    border: 1px solid red;
    margin-top: 10px;
}
.pTinNoiBat{
    font-size: 0.9em;
}
.divFooter{
    margin-top: 25px;
    padding: 10px;
    background-color: brown;
    color: white;
}
.pLienHe{
    font-size: 0.85em;
}